<div class="p-2 bg-success w-100 d-flex justify-content-between">
  <div class="d-flex pt-1">
    <div class="">logo</div>
    <div class="font-weight-bold ml-2 mr-4">
      Room of Woods
    </div>
    <div class="mr-2">Home</div>
    <div class="mr-2 dropdown-toggle">Collections</div>
    <div class="mr-2">Contact Us</div>
  </div>
  <div>
    <form>
      <input placeholder="Search" class="form-control-sm"/>
      <button class="btn btn-warning btn-sm ml-2">Search</button>
    </form>
  </div>
</div>